@font-face {
  font-family: comicss;
  src: url("../res/Hey\ Comic.ttf");
}

@font-face {
  font-family: dulcee;
  src: url("../res/KGRedHands.ttf");
}
* {
    margin: 0px 2px;
    padding: 0px;
}

header,section, footer,article,aside,nav,figure {
    display: block;
}

/*#menu ul, #menu li, #menu a {margin: 0;padding: 0;}*/
#menu ul {list-style: none;}
#menu a {text-decoration: none;}
#menu {
  height: 40px;
  font-family: comicss; 
  width: 100%;
  margin: 0 auto;
}
#menu > ul > li {
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  position: relative;
}
#menu > ul > li > a {
  color: orange;
  font-size: 20px;
  line-height: 40px;
  padding: 11px 20px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -ms-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}
#menu > ul > li > a:hover {color: rgb(26, 112, 0);}
#menu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: left;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgb(255, 0, 0);
  box-shadow: 0px 1px 3px rgb(100, 68, 68);
}
#menu > ul > li:hover > ul {
  opacity: 1;
  top: 42px;
  visibility: visible;
}
#menu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent rgb(222, 127, 76) transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
#menu > ul ul > li {position: relative;}
#menu ul ul a {
  color: #000000;
  font-size: 13px;
 
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
#menu > ul > li > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent rgb(145, 66, 66) transparent transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: 23%;
  left: -20px;
}
#menu ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
 
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: left;
  width: 180px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#menu ul ul > li:hover > ul {
  opacity: 1;
  left: 200px;
  visibility: visible;
}
#menu ul ul a:hover {
  background-color: rgb(128, 78, 78);
  color: #ffffff;
}

.cabecera{
  width: 100%;
  height: auto;
  float: left;
  color: rgb(26, 112, 0);
  padding: 10px 0px;
  margin: 20px 0px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-top: #ff6600 5px solid;
  /*border-bottom: #ff6600 5px solid; */
  font-family: dulcee;
}

#fotos
{
  width: 1300px;
  height: auto;
  display: flex;
  justify-content: center;   /* Alineación horizontal */   
}

#galeria{
  width: auto;
  height: auto;
  margin: 5px;
  float: left;
}
#galeria img{
  cursor: pointer;
  transition: 1s; /*Trabaja con el hover de abajo. Si queremos que la animacion vaya mas lento aumentamos el tiempo*/
  outline: 3px solid #fff;
}

#galeria img:hover{
  transform: scale(1.1);
}
#spam img
{
  cursor: pointer;
  transition: 1s; /*Trabaja con el hover de abajo. Si queremos que la animacion vaya mas lento aumentamos el tiempo*/
  outline: 0.0px solid orange;
}
#spam img:hover{
  transform: scale(1.1);
}


.buenas{
  width: 95%;
  height: auto;
  float: left;
  margin: 20px ;
  line-height: 2;
  background-color: #fe7e11;
  text-align: center;
  border-radius: 5px
}

.columna{
width: 10%;
height: 1000px;
float: left;
margin: 10px 20px;
background-color: #fe7e11;
border-radius: 5px;
}

#text-box{
  width: 340px;
  height: auto;
  float: left;
  padding: 0px;
  margin: 20px 5px; 
  border-radius: 10px;

} 

#text-us{
  width: 340px;
  height: auto;
  float: left;
  padding: 0 0 0 30px;
  margin: 20px 5px; 
  border-radius: 10px;
  border: 2px solid #fe7e11;
  font-family: dulcee;
  font-size: small;
} 

#article-box{
  width: 300px;
  height: auto;
  float: left;
  margin: 20px 5px;
  padding: 0px; 
  border-radius: 10px;
  
} 

h2
{
  font-size: 20px;
  text-align: center;
  padding: 5px;
  font-family: comicss;
  letter-spacing: 3px;
  color: rgb(13, 109, 0);
}

p{
  font-size: 18px;
  text-align: justify;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#articulo
{
  text-align: center;
  width: 320px;
  height: auto;
  float: left;
  margin: 5px;
  padding: 0px; 
   background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
}


.grande
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /*El vh hace que se muestre en toda la ventana del navegador*/
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed; /*Para que el elemento no se mueva al hacer scroll (mover hacía arriba o abajo)*/
  top: 0;
  /*left: 0; */ /*No he visto que cambie algo pero x aquello*/
  display: none;
  align-items: center; /*alinea de arriba a abajo*/
  justify-content: center; /*alinea de izquierda a derecha*/
  z-index: 99; /*hace que aparesca encima de otros elementos*/
}
#equisCerrar
{
    color: #fff;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    cursor: pointer;   
}

.imagen{
  cursor: pointer ;
}


.bReceta{
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: comicss;
  border-radius: 8px 10px;
  padding: 12px;
}

.pie{
  clear:both;
  float: left;
  text-align: center;
  border-top: #fe7e11 2px solid;
}

#tituloReceta{
  display: flex;
  justify-content: flex-start;
  width: 300PX;
  height: auto;
  padding: 10px;
  color: #fff;
  text-align: center;
}

#picture{
  clear: both;
  display: block;
  width: 400px;
  height: auto;
  margin: 15px;
  padding: 5px; 
  background-color:  #fe7e11;
  border-radius: 10px;
}

#texto-receta{
  display: block;
  padding: 30px;
  width: 70%;
  height: auto;
  font-family: comicss;
  color: #fff;
}

#spam
{
  justify-content: center;
  width: 330px;
  height: auto;
  margin: 5px;
  float: left;
}

#imagenGrande{
  width: auto;
  height: 250px;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

#detalles-receta{
display: block;
  font-family: comicss;
  color: #fff;
}

