@font-face {
  font-family: comicss;
  src: url("../res/Hey\ Comic.ttf");
}

@font-face {
  font-family: dulcee;
  src: url("../res/KGRedHands.ttf");
}
* {
    margin: 0px 2px;
    padding: 0px;
}

header,section, footer,article,aside,nav,figure {
    display: block;
}

@media (max-width: 767px) { /*telefono*/
  .escritorio{
    display: none;
  }

  .nav{
    background-color: #ff6600;

    --img1: scale(1);
    --img2: scale(0);
  }

  .nav:has( .dropdown:target ){
      --img1: scale(0);
      --img2: scale(1);

      --clip:inset(0 0 0 0);
  }

  .nav__container{
      width: 90%;
      margin: 0 auto;
      height: 70px;

      display: grid;
      grid-template-columns: max-content max-content;
      grid-template-areas: "title img";
      justify-content: space-between;
      align-items: center;

      overflow: hidden;
  }

  .nav__title{
      color: #fff;
      grid-area: title;
  }


  .nav__menu{
      grid-area: img;
      position: relative;
      z-index: 10;

      transform: var(--img1);
  }

  .nav__menu--second{
      transform: var(--img2);
  }

  .nav__icon{
      width: 30px;
      display: block;
  }

  .dropdown{
      position: absolute;
      background-color: rgb(13, 109, 0);;
      width: 75%;
      max-width: 300px;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 1em;

      display: grid;
      align-content:center ;
      gap: 1rem;

      overflow-y: auto;


      clip-path: var(--clip, inset(0 0 100% 100%));
      transition: clip-path .5s;
  }

  .dropdown__list{
      list-style: none;
  }

  .dropdown__link{
      color: rgb(255, 255, 255);
      padding: 1em .7em;
      text-decoration: none;

      display: flex;
      align-items: center;
      gap: .6rem;

      position: relative;
      background-color: var(--bg, transparent);
      border-radius: 6px;
  }

  .dropdown__list:has( :checked ){
      --rows: 1fr;
      --rotate: rotate(180deg);
      --bg: #ff6600;
  }

  .dropdown__check{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
  }

  .dropdown__arrow{
      margin-left: auto;
      transform: var(--rotate, 0);
      transition: .2s transform;
  }

  .dropdown__content{
      display: grid;
      grid-template-rows: var(--rows, 0fr);
      transition: .3s grid-template-rows;
  }

  .dropdown__sub{
      overflow: hidden;

  }

  .dropdown__li{
      width: 85%;
      list-style: none;
      margin-left: auto;
  }

  .dropdown__anchor{
      padding: 1em 0;
      display: block;
      color: #ffffff;
      text-decoration: none;
  }

  #fotos
  {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #galeria{
    width: auto;
    height: auto;
    margin: 5px;
    float: left;
  }

  #text-box{
    width: 70%;
    height: auto;
    float: left;
    padding: 0px;
    margin: 20px 15%; 
    border-radius: 10px;

  } 

  #text-us{
    width: 340px;
    height: auto;
    float: left;
    padding: 5px 25px;
    margin: 20px 5px; 
    text-align: center;
    border-radius: 10px;
    font-size: small;
    line-height: 2;
  } 

  #img-us{
    width: 400px;
    height: auto;
    float: left;
    margin: 20px; 
    border-radius: 10px;
  }

  #article-box{
    width: 300px;
    height: auto;
    float: left;
    margin: 20px 5px;
    padding: 0px; 
    border-radius: 10px;
  } 

  h2
  {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
  }

  p{
    font-size: 18px;
    text-align: justify;
    padding: 5px;
  }
  #articulo
  {
    text-align: center;
    width: 320px;
    height: auto;
    float: left;
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
  }


  .grande-box
  { padding: 10%;
    align-items: center; /*alinea de arriba a abajo*/
    justify-content: center; /*alinea de izquierda a derecha*/
  }
  #equisCerrar
  {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 30px;  
  }


  .pie{
    clear:both;
    float: left;
    text-align: center;
    border-top: #fe7e11 2px solid;
  }

  #tituloReceta{
    display: flex;
    width: 80%;
    height: auto;
    margin: 10px;
    text-align: center;
  }

  #picture{
    clear: both;
    display: flex;
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 5px;
  }

  #texto-receta{
    display: block;
    padding: 30px;
    width: 70%;
    height: auto;
  }

  #spam
  {
    justify-content: center;
    width: 330px;
    height: auto;
    margin: 5px;
    float: left;
  }

  #imagenGrande{
    width: auto;
    height: 250px;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
  }

  #detalles-receta{
  display: flex;
  }

}

@media  (min-width: 768px) and (max-width: 990px) {/*tablet*/
  .escritorio{
    display: none;
  }
  
  .nav{
    background-color: #ff6600;

    --img1: scale(1);
    --img2: scale(0);
  }

  .nav:has( .dropdown:target ){
      --img1: scale(0);
      --img2: scale(1);

      --clip:inset(0 0 0 0);
  }

  .nav__container{
      width: 90%;
      margin: 0 auto;
      height: 70px;

      display: grid;
      grid-template-columns: max-content max-content;
      grid-template-areas: "title img";
      justify-content: space-between;
      align-items: center;

      overflow: hidden;
  }

  .nav__title{
      color: #fff;
      grid-area: title;
  }


  .nav__menu{
      grid-area: img;
      position: relative;
      z-index: 10;

      transform: var(--img1);
  }

  .nav__menu--second{
      transform: var(--img2);
  }

  .nav__icon{
      width: 30px;
      display: block;
  }

  .dropdown{
      position: absolute;
      background-color: rgb(13, 109, 0);;
      width: 75%;
      max-width: 300px;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 1em;

      display: grid;
      align-content:center ;
      gap: 1rem;

      overflow-y: auto;


      clip-path: var(--clip, inset(0 0 100% 100%));
      transition: clip-path .5s;
  }

  .dropdown__list{
      list-style: none;
  }

  .dropdown__link{
      color: rgb(255, 255, 255);
      padding: 1em .7em;
      text-decoration: none;

      display: flex;
      align-items: center;
      gap: .6rem;

      position: relative;
      background-color: var(--bg, transparent);
      border-radius: 6px;
  }

  .dropdown__list:has( :checked ){
      --rows: 1fr;
      --rotate: rotate(180deg);
      --bg: #ff6600;
  }

  .dropdown__check{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
  }

  .dropdown__arrow{
      margin-left: auto;
      transform: var(--rotate, 0);
      transition: .2s transform;
  }

  .dropdown__content{
      display: grid;
      grid-template-rows: var(--rows, 0fr);
      transition: .3s grid-template-rows;
  }

  .dropdown__sub{
      overflow: hidden;

  }

  .dropdown__li{
      width: 85%;
      list-style: none;
      margin-left: auto;
  }

  .dropdown__anchor{
      padding: 1em 0;
      display: block;
      color: #ffffff;
      text-decoration: none;
  }

  #fotos
  {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #galeria{
    width: auto;
    height: auto;
    margin: 5px;
    float: left;
  }

  #text-box{
    width: 70%;
    height: auto;
    float: left;
    padding: 0px;
    margin: 20px 15%; 
    border-radius: 10px;

  } 

  #text-us{
    width: 340px;
    height: auto;
    float: left;
    padding: 5px 25px;
    margin: 20px 5px; 
    text-align: center;
    border-radius: 10px;
    font-size: small;
    line-height: 2;
  } 

  #img-us{
    width: 400px;
    height: auto;
    float: left;
    margin: 20px; 
    border-radius: 10px;
  }

  #article-box{
    width: 300px;
    height: auto;
    float: left;
    margin: 20px 5px;
    padding: 0px; 
    border-radius: 10px;
  } 

  h2
  {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
  }

  p{
    font-size: 18px;
    text-align: justify;
    padding: 5px;
  }
  #articulo
  {
    text-align: center;
    width: 320px;
    height: auto;
    float: left;
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
  }


  .grande-box
  { padding: 10%;
    align-items: center; /*alinea de arriba a abajo*/
    justify-content: center; /*alinea de izquierda a derecha*/
  }
  #equisCerrar
  {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 30px;  
  }


  .pie{
    clear:both;
    float: left;
    text-align: center;
    border-top: #fe7e11 2px solid;
  }

  #tituloReceta{
    display: flex;
    width: 80%;
    height: auto;
    margin: 10px;
    text-align: center;
  }

  #picture{
    clear: both;
    display: flex;
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 5px;
  }

  #texto-receta{
    display: block;
    padding: 30px;
    width: 70%;
    height: auto;
  }

  #spam
  {
    justify-content: center;
    width: 330px;
    height: auto;
    margin: 5px;
    float: left;
  }

  #imagenGrande{
    width: auto;
    height: 250px;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
  }

  #detalles-receta{
  display: flex;
  }


}



@media (min-width: 991px) {/*compu*/
.tablet{
    display: none;
  }
  .phone{
    display: none;
  }

  #menu-desktop ul {list-style: none;}
  #menu-desktop a {text-decoration: none;}
  #menu-desktop {
    height: 40px;
    font-family: comicss; 
    width: 100%;
    margin: 0 auto;
  }
  #menu-desktop > ul > li {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    position: relative;
  }
  #menu-desktop > ul > li > a {
    color: orange;
    font-size: 20px;
    line-height: 40px;
    padding: 11px 20px;
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
    -ms-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;
  }
  #menu-desktop > ul > li > a:hover {color: rgb(26, 112, 0);}
  #menu-desktop > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    padding: 16px 0 20px 0;

    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: left;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    -webkit-transition: all .3s .1s;
    -moz-transition: all .3s .1s;
    -o-transition: all .3s .1s;
    transition: all .3s .1s;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgb(255, 0, 0);
    box-shadow: 0px 1px 3px rgb(100, 68, 68);
    }
  #menu-desktop > ul > li:hover > ul {
    opacity: 1;
    top: 42px;
    visibility: visible;
  }
  #menu-desktop > ul > li > ul:before {
    content: '';
    display: block;
    border-color: transparent transparent rgb(222, 127, 76) transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
  }
  #menu-desktop > ul ul > li {position: relative;}
  #menu-desktop ul ul a {
    color: #000000;
    font-size: 13px;
  
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    padding: 5px 8px 7px 16px;
    display: block;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
  }
  #menu-desktop > ul > li > ul > li > ul:before {
    content: '';
    display: block;
    border-color: transparent rgb(145, 66, 66) transparent transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: 23%;
    left: -20px;
  }
  #menu-desktop ul ul ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -16px;
    left: 206px;
    padding: 16px 0 20px 0;
  
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: left;
    width: 180px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  }
  #menu-desktop ul ul > li:hover > ul {
    opacity: 1;
    left: 200px;
    visibility: visible;
  }
  #menu-desktop ul ul a:hover {
    background-color: rgb(128, 78, 78);
    color: #ffffff;
  }

  .cabecera{
  width: 100%;
  height: auto;
  float: left;
  padding: 10px 0px;
  margin: 20px 0px;
  text-align: center;
}

#fotos
{
  width: 1300px;
  height: auto;
  display: flex;
  justify-content: center;   /* Alineación horizontal */   
}

#galeria{
  width: auto;
  height: auto;
  margin: 5px;
  float: left;
}

.buenas{
  width: 95%;
  height: auto;
  float: left;
  margin: 20px ;
  padding: 10px 25px;
  line-height: 2;
  text-align: center;
  border-radius: 5px;
}


#text-box{
  width: 340px;
  height: auto;
  float: left;
  padding: 0px;
  margin: 20px 5px; 
  border-radius: 10px;

} 

#text-us{
  width: 340px;
  height: auto;
  float: left;
  padding: 5px 25px;
  margin: 20px 5px; 
  text-align: center;
  border-radius: 10px;
  font-size: small;
  line-height: 2;
} 

#img-us{
  width: 400px;
  height: auto;
  float: left;
  margin: 20px; 
  border-radius: 10px;
}

#article-box{
  width: 300px;
  height: auto;
  float: left;
  margin: 20px 5px;
  padding: 0px; 
  border-radius: 10px;
} 

h2
{
  font-size: 20px;
  text-align: center;
  padding: 5px;
  letter-spacing: 3px;
}

p{
  font-size: 18px;
  text-align: justify;
  padding: 5px;
}
#articulo
{
  text-align: center;
  width: 320px;
  height: auto;
  float: left;
  margin: 5px;
  padding: 0px;
  border-radius: 10px;
}


/*.grande
{
}*/
#equisCerrar
{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;  
}

.pie{
  clear:both;
  float: left;
  text-align: center;
  border-top: #fe7e11 2px solid;
}

#tituloReceta{
  display: flex;
  justify-content: flex-start;
  width: 300PX;
  height: auto;
  padding: 10px;
  text-align: center;
}

#picture{
  clear: both;
  display: block;
  width: 400px;
  height: auto;
  margin: 15px;
  padding: 5px; 
  border-radius: 10px;
}

#texto-receta{
  display: block;
  padding: 30px;
  width: 70%;
  height: auto;
}

#spam
{
  justify-content: center;
  width: 330px;
  height: auto;
  margin: 5px;
  float: left;
}

#imagenGrande{
  width: auto;
  height: 250px;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

#detalles-receta{
display: block;
}
}

/**Botones del cambio de menu**/
  .languajes{
    display: flex;
    gap: .5rem;
  }

  .lang-button{
    background-color: orange;
    border: 0;
    color: white;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 5px;
    cursor: pointer;
  }
/*******/

.cabecera{
  width: 100%;
  height: auto;
  float: left;
  color: rgb(26, 112, 0);
  padding: 10px 0px;
  margin: 20px 0px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-top: #ff6600 5px solid;
  /*border-bottom: #ff6600 5px solid; */
  font-family: dulcee;
}

#galeria{
  width: auto;
  height: auto;
  margin: 5px;
  float: left;
}
#galeria img{
  cursor: pointer;
  transition: 1s; /*Trabaja con el hover de abajo. Si queremos que la animacion vaya mas lento aumentamos el tiempo*/
  outline: 3px solid #fff;
}

#galeria img:hover{
  transform: scale(1.1);
}
#spam img
{
  cursor: pointer;
  transition: 1s; /*Trabaja con el hover de abajo. Si queremos que la animacion vaya mas lento aumentamos el tiempo*/
  outline: 0.0px solid orange;
}
#spam img:hover{
  transform: scale(1.1);
}


.buenas{
  width: 95%;
  height: auto;
  float: left;
  margin: 20px ;
  padding: 10px 25px;
  line-height: 2;
  text-align: center;
  border-radius: 5px;
  border: 4px solid #fe7e11;
}

/* #text-box{
  width: 340px;
  height: auto;
  float: left;
  padding: 0px;
  margin: 20px 5px; 
  border-radius: 10px;
}  */

#text-us{
  /* width: 340px;
  height: auto;
  float: left;
  padding: 5px 25px;
  margin: 20px 5px; 
  text-align: center;
  border-radius: 10px; */
  border: 2px solid rgb(254, 126, 17);
  font-family: dulcee;
  font-size: small;
  line-height: 2;
} 

#img-us{
  /* width: 400px;
  height: auto;
  float: left;
  margin: 20px; 
  border-radius: 10px; */
  box-shadow: rgba(0, 0, 0, 0.836)/*rgb(254, 126, 17)/*rgb(26, 112, 0)*/ 0px 0px 15px;
}

/* #article-box{
  width: 300px;
  height: auto;
  float: left;
  margin: 20px 5px;
  padding: 0px; 
  border-radius: 10px;
}  */

h2
{
  /* font-size: 20px;
  text-align: center;
  padding: 5px; */
  font-family: comicss;
  letter-spacing: 3px;
  color: rgb(13, 109, 0);
}

p{
  font-size: 18px;
  text-align: justify;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#articulo
{
  /* text-align: center;
  width: 320px;
  height: auto;
  float: left;
  margin: 5px;
  padding: 0px;  */
   background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
}


.grande
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /*El vh hace que se muestre en toda la ventana del navegador*/
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed; /*Para que el elemento no se mueva al hacer scroll (mover hacía arriba o abajo)*/
  top: 0;
  /*left: 0; */ /*No he visto que cambie algo pero x aquello*/
  display: none;
  align-items: center; /*alinea de arriba a abajo*/
  justify-content: center; /*alinea de izquierda a derecha*/
  z-index: 99; /*hace que aparesca encima de otros elementos*/
}
#equisCerrar
{
    color: #fff;
    position: absolute;
    /* top: 5%;
    right: 5%;
    font-size: 30px; */
    cursor: pointer;   
}

.imagen{
  cursor: pointer ;
}

.pie{
 /*  clear:both;
  float: left;
  text-align: center; */
  border-top: #fe7e11 2px solid;
}

#tituloReceta{
  display: flex;
  /*justify-content: flex-start;*/
  height: auto;
  /*padding: 10px; */
  color: #fff;
  /* text-align: center; */
}

#picture{
  /*clear: both;
  display: block;
  height: auto;
  margin: 15px;
  padding: 5px;  */
  background-color:  #fe7e11;
  /*border-radius: 10px;*/
}

#texto-receta{
  display: block;
  padding: 30px;
  width: 70%;
  height: auto; 
  font-family: comicss;
  color: #fff;
}

#spam
{
  justify-content: center;
  width: 330px;
  height: auto;
  margin: 5px;
  float: left;
}

#imagenGrande{
  width: auto;
  height: 250px;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

#detalles-receta{
  display: block;
  font-family: comicss;
  color: #fff;
}

